@charset 'utf-8';

html {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
}

body {
	overflow-x: hidden; /* 가로 스크롤 없애기 */
	color: rgb(29, 29, 31);
	letter-spacing: -0.05em;
	background: #FFFFFF;
}

p {
	line-height: 1.6;
}

a {
	color: rgb(29, 29, 31);
	text-decoration: none;
}

/* global-nav */
.global-nav {
	height: 44px;
}

.global-nav-link, .local-nav-link {
	display: flex;
	align-items: center;
	max-width: 1000px;
	height: 100%;
	margin: 0 auto;
}

.global-nav-link {
	justify-content: space-between;
}

/* local-nav */
.local-nav {
	height: 52px;
	border-bottom: 1px solid #DDDDDD;
}

.local-nav-link .product-name { /* 그냥 .product-name로만 써주면 a태그 전체에 적용한 0.8rem에서 우선순위가 밀리기 때문에 구체적으로 작성해주어야 단독 클래스로 인식해서 적용이 된다. */
	margin-right: auto;
	font-size: 1.2rem;
	font-weight: bold;
}

.local-nav-link a {
	font-size: 0.8rem;
}

.local-nav-link a:not(.product-name) {
	margin-left: 2em;
}